body{
  display:inline-block;
  width: 100%;
  background-image:url('AESTHETIC.jpg');
}
canvas{
  background:hotpink;
}
ul{
  margin:auto;
  margin-left:26%;
  FONT-SIZE:4em;
}
input{
  width: 95%;
  font-size: 3em;
  margin-top: 23%;
  margin-left: 3%;
}
button{
  margin-left: 3%;
    padding: 1%;
    margin-top: 1%;
    background-color: yellow;
}
#up{
  display:inline-block;
  margin-left: 37%;
}
#down{
  display:inline-block;
}
#left{
  display:inline-block;
}
#right{
  display:inline-block;
}
#xAxis{
  display:inline-block;
}
#yAxis{
  display:inline-block;
}
#canvas{
  display:inherit;
  width:100%;
}
#start{
  margin-left: 34%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1em;
}
.hidden{
  display: none;
}
#Grid {
  margin:0 auto;
  text-align:center;
  line-height:0;
}
.row {
 width: 2em;
 height: 2em;
 margin: 0;
 display: inline-block;
 border: 1px solid white;

}
.cell {
 width: 2em;
 height: 2em;
 margin: 0;
 display: inline-block;
 border: 1px solid white;

}
#player{
  background-color:green;
}
